[submodule "plugins/Core"]
	path = plugins/Core
	url = git@github.com:zixdev/zexus-core.git
[submodule "plugins/PluginBuilder"]
	path = plugins/PluginBuilder
	url = git@github.com:zixdev/zexus-plugin-builder.git

