/** Stylus Styles */

// Available variables https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_variables.styl
@import '~vuetify/src/stylus/main'

/*
 * Router Animations
 */

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}


[v-cloak] {
  display: none;
}
.text-capitalize
  text-transform: capitalize


.btn-group .btn
  opacity: 1 !important

.btn--bottom.btn--absolute
  bottom: 75px !important