/** Stylus Styles */

// Available variables https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_variables.styl

@import '~vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $grey.darken-4
  accent: $grey.lighten-4
  secondary: $grey.lighten-1
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}

@import '~vuetify/src/stylus/main'

//@import './../../../../modules/Core/Assets/admin/stylus/app';
